    body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #283136;
        width: auto;
    }
    
    .active {
        border-bottom: 2px solid #fb565a;
    }
    
    .modal-text {
        font-size: 45px;
        color: rgb(0, 0, 0);
        line-height: 45px;
    }
    
    .catalog-welcome {
        font-size: 55px;
        color: rgb(0, 0, 0);
        line-height: 1;
        text-align: center;
    }
    
    .services-item-name {
        font-size: 24px;
        color: rgb(0, 0, 0);
        line-height: 1.25;
        font-weight: bold;
        text-transform: uppercase;
    }
    /* Шапка*/
    
    .main-header-logo:hover {
        opacity: 0.8;
    }
    
    .main-header-logo {
        margin-left: 140px;
    }
    
    .main-header {
        min-height: 355px;
        background-color: #eeeeee;
    }
    
    .main-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .site-navigation {
        display: flex;
        justify-content: space-between;
        width: 440px;
        height: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
        color: rgb(0, 0, 0);
    }
    
    .site-navigation a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    .site-navigation a:hover {
        color: #fb565a;
    }
    
    .site-navigation a:active {
        color: #bababa;
    }
    
    .basket {
        border: 1px solid black;
        margin: 0;
        padding: 0;
        list-style: none;
        color: rgb(0, 0, 0);
    }
    
    .basket-link a {
        margin-right: 140px;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    .basket-link a:hover {
        color: #fb565a
    }
    
    .basket-link a:active {
        color: #bababa;
    }
    
    .slider {
        background-color: #eeeeee;
    }
    
    .slider-item1 {}
    /* убрал для сетки*/
    
    .slider-item2,
    .slider-item3 {
        display: none;
    }
    
    .slider-items {
        list-style: none;
    }
    
    .slider-items b {
        font-size: 55px;
    }
    
    .slider-btn {
        padding: 14px 60px;
        border-radius: 3px;
        color: rgb(255, 255, 255);
        background-color: #fb565a;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .slider-btn:hover {
        background-color: #e24256;
    }
    
    .slider-btn:active {
        background-color: #d7373b;
        color: #e26f72;
        box-shadow: inset 0 1px 0 0 #c13135;
    }
    /* Мэйн*/
    
    .container {
        background-color: #ffffff;
    }
    
    .services {}
    
    .services-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }
    
    .services-btn-site {
        position: relative;
        top: 37px;
        padding: 14px 40px;
        border-radius: 3px;
        color: #ffffff;
        background-color: #fb565a;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .services-btn-site:hover {
        background-color: #e24246;
    }
    
    .services-btn-site:active {
        background-color: #d7373b;
        color: #e26f72;
        box-shadow: inset 0 1px 0 0 #c13135;
    }
    
    .services-btn-app {
        position: relative;
        top: 37px;
        padding: 14px 40px;
        border-radius: 3px;
        color: #ffffff;
        background-color: #00ca74;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .services-btn-app:hover {
        background-color: #00bc6c;
    }
    
    .services-btn-app:active {
        background-color: #00aa62;
        color: #38bd84;
        box-shadow: inset 0 1px 0 0 #009858;
    }
    
    .services-btn-presentation {
        position: relative;
        top: 37px;
        padding: 14px 40px;
        border-radius: 3px;
        color: #ffffff;
        background-color: #efc84a;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .services-btn-presentation:hover {
        background-color: #eab534;
    }
    
    .services-btn-presentation:active {
        background-color: #e5a722;
        color: #edc265;
        box-shadow: inset 0 1px 0 0 #ce961f;
    }
    
    .about-left-head {
        font-size: 45px;
        line-height: 45px;
    }
    
    .about-left-develop {
        text-transform: uppercase;
        line-height: 24px;
    }
    
    .about {
        display: flex;
        justify-content: space-between;
        padding: 50px 80px;
    }
    
    .about-left {
        width: 600px;
    }
    
    .about-right {
        width: 600px;
    }
    
    .about-info {
        list-style: none;
        text-decoration: none;
        line-height: 24px;
    }
    
    .about-info-item::before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 2px;
        background-color: #fb565a;
        margin: 0 11px 4px -37px;
    }
    
    .about-table {}
    
    .about-table td:first-child {
        font-size: 45px;
        font-weight: bold;
    }
    
    .about-table td:last-child {
        line-height: 18px;
    }
    
    .partnes {
        min-height: 184px;
    }
    
    .partnes-site {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .partnes-site li {
        opacity: 0.2;
    }
    
    .partnes-site li:hover {
        opacity: 1;
    }
    
    .partnes-site li:active {
        opacity: 0.1;
    }
    /*Футер*/
    
    .main-footer {}
    
    .map {
        margin: 0 auto;
        width: 1440px;
        height: 415px;
        background-image: url(../img/map.jpg);
    }
    
    .adress {
        position: relative;
        width: 320px;
        height: 305px;
        border-radius: 3px;
        background-color: #ffffff;
    }
    
    .adress b {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .adress p {
        color: #666666;
    }
    
    .button {
        color: #ffffff;
        background-color: #fb565a
    }
    
    .footer-social {
        display: flex;
        justify-content: center;
    }
    
    .footer-social b {
        font-size: 36px;
        color: #000000;
        line-height: 36px;
    }
    
    .footer-social p {
        font-size: 16px;
        line-height: 22px;
    }
    /*Всплывающая форма*/
    
    .modal {
        background-color: #ffffff;
        box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    }
    
    .modal-form label {
        font-size: 16px;
        line-height: 18px;
        font-weight: bold;
    }
    
    input[type="name"],
    input[type="email"],
    textarea {
        border: 1px solid #d7dcde;
        border-radius: 2px;
        font: inherit;
        outline: none;
    }
    
    input[type="name"]:hover {
        border-color: #b4b9bb;
    }
    
    input[type="email"]:hover {
        border-color: #b4b9bb;
    }
    
    input[type="name"]:invalid {
        border-color: #e74246;
    }
    
    textarea:hover {
        border-color: #b4b9bb;
    }
    
    input[type="name"]:focus,
    input[type="email"]:focus {
        border-color: #000000;
    }
    
    textarea:focus {
        border-color: #000000;
    }
    /*Каталог*/
    
    .filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .catalog-filter {
        border: none;
    }
    
    .catalog-filter li {
        list-style: none;
    }
    
    .catalog-filter-name {
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .filter-button {
        background-color: #eeeeee;
        text-transform: uppercase;
        line-height: 18px;
        color: #000000;
        text-decoration: none;
    }
    
    .sorting {}
    
    .sorting-title {
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .sorting-list li {
        list-style: none;
    }
    
    .sorting-list a {
        color: #000000;
        text-decoration: none;
        line-height: 18px;
        font-size: 14px;
    }
    
    .sorting-controls {}
    
    .down {}
    
    .up {}
    
    .items {}
    
    .items-card {}
    
    .item-img {}
    
    .item-header {}
    
    .item-description {
        background-color: #eeeeee;
    }
    
    .item-title {
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .item-text {
        font-size: 16px;
        line-height: 18px;
    }
    
    .item-price {
        color: #ffffff;
        background-color: #fb565a;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .pagination {}
    
    .active-page {
        font-weight: bold;
        border: 3px solid #dbdbdb;
    }
    
    .pagination a {
        text-decoration: none;
        color: #000000;
        background-color: #eeeeee;
        font-weight: bold;
        text-transform: uppercase;
    }